<!DOCTYPE html >
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body class="antialiased font-sans bg-gray-200 overflow-hidden">
  <div class="" style="">
  <div class="h-full bg-gray-100 overflow-y-auto">
  <div x-data="{ open: true }" class="min-h-full">
    
    @include ('components/sidebar.edge')

    <div class="lg:pl-64 flex flex-col flex-1">
      @include('components/searchbar.edge')
      <main class="flex-1 pb-8">
        <!-- Page Content Here -->
      </main>
    </div>
  </div>

  </div>
</div>
</body>
</html>
